/*	Color palette from http://www.lolcolors.com/
	pale blue: #e1eef6
	orange: #ff5f2e
	yellow: #fcbe32
	teal: #004e66	*/
/************************************************
GLOBAL
************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Kalam', sans-serif;
}

/************************************************
sidebar
************************************************/

.heading-bar {
	height: 100px;
	text-align: center;
}

.heading-bar h1 {
	background-color: #ff5f2e;
	color: #fcbe32;
	height: 50px;
	margin: 0;
}

.heading-bar p {
	align-items: center;
	background-color: #e1eef6;
	display: flex;
	color: #000;
	font-weight: 700;
	height: 50px;
	justify-content: center;
	margin: 0;
}

.heading-bar span {
	padding: 10px;
}

.heading-bar-directions {
	margin-top: 5px;
}

.heading-bar-forks {
	line-height: 0;
}

.yelp-attribution {
	margin-left: -5px;
	max-height: 30px;
	padding-right: 10px;
}

.sidebar {
	background-color: #05323e;
    max-height: 100vh;
    width: 320px;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.sidebar-heading-container {
	height: 100px;
}

.sidebar-heading-filter {
	display: flex;
    justify-content: space-between;
	padding: 15px 10px 5px 10px;
}

.sidebar-heading-filter select {
	border: 1px solid #fcbe32;
	border-radius: 4px;
	height: 30px;
    line-height: 30px;
    width: 175px;
}

.button-filter {
    background-color: #ff5f2e;
    border: 1px solid #fcbe32;
    border-radius: 4px;
    color: #fcbe32;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    width: 115px;
}

.button-filter:disabled {
    background-color: #d3d3d3;
    border: 1px solid #848484;
    color: #848484;
}

.sidebar-heading-controls {
	display: flex;
    justify-content: flex-end;
	padding: 5px 10px 15px 10px;
}

.sidebar-toggle {
	cursor: pointer;
	display: inline-block;
}

.sidebar-toggle p {
	background-color: #ff5f2e;
    border: 1px solid #fcbe32;
    border-radius: 4px;
    color: #fcbe32;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 10px;
	padding: 0 15px;
	text-align: center;
	width: 115px;
}

.sidebar-toggle p:after {
	content: '\f00d';
	display: inline-block;
	font-family: FontAwesome;
	line-height: 14px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.toggle .sidebar-toggle p:after {
	-webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transform-origin: 50% 55%
}

.toggle .location-list {
	max-height: 0;
}

.slider {
	cursor: move;
	display: inline-block;
}

.slider p {
	background-color: #ff5f2e;
    border: 1px solid #fcbe32;
    border-radius: 4px;
    color: #fcbe32;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
	width: 115px;
}

.location-list {
	list-style-type: none;
	margin: 0;
	max-height: calc(100vh - 200px);
	overflow: auto;
	padding: 0;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}

.location-list-item {
	min-height: 70px;
	padding: 10px;
}

.location-list-item:nth-child(odd) {
	background-color: #e1eef6;
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	transition: background-color 2s;
}

.location-list-item:nth-child(even) {
	background-color: #fff;
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	transition: background-color 2s;
}

.location-list-item.itemSelected {
	background-color: #ff5f2e;
	color: #fcbe32;
	font-weight: 700;
}

.location-list-item-details {
	background-color: #fff;
    color: #000;
    font-weight: 400;
    list-style-type: none;
    margin: 0 -10px -10px -10px;
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;
    -webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}

.location-list-review {
    line-height: 0;
}

.location-list-review-count {
	position: relative;
	top: -3px;
}

.location-list-review-count:after {
	content: ' reviews';
}

.location-list-item:nth-child(odd) .location-list-item-details {
	border: 0 solid #e1eef6;
	-webkit-transition: border-color 2s;
	-moz-transition: border-color 2s;
	transition: border-color 2s;
}

.location-list-item:nth-child(even) .location-list-item-details {
	border: 0 solid #fff;
	-webkit-transition: border-color 2s;
	-moz-transition: border-color 2s;
	transition: border-color 2s;
}

.location-list-item-details > a {
	background-color: #05323e;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 5px auto 10px auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.location-list-item-details > a:hover {
	background-color: #ff5f2e;
}

.itemSelected .location-list-item-details {
    max-height: 500px;
}

.itemSelected.location-list-item:nth-child(odd) .location-list-item-details,
.itemSelected.location-list-item:nth-child(even) .location-list-item-details {
    border: 10px solid #ff5f2e;
}

/************************************************
Map
************************************************/

.map-div {
	height: calc(100vh - 100px);
	width: 100%;
}

.loading {
	background: #e1eef6 url(../img/loading-graphic.gif) center center no-repeat;
	position: relative;
}

.gm-style {
	font-family: 'Kalam', sans-serif;
}

.infowindow-location-name {
	color: #05323e;
	font-weight: 700;
	margin: 5px 0;
}

.infowindow-location-address {
    margin: 5px 0;
}

.infowindow-location-rating {
    display: block;
    margin: 5px 0;
}

.infowindow-location-rating-count {
	margin: 0 10px;
	position: absolute;
}

.infowindow-location-link {
    background-color: #05323e;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.infowindow-location-link:hover {
	background-color: #ff5f2e;
}

/************************************************
Media Queries
************************************************/
 /* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.heading-bar h1 {
		font-size: 1.2em;
		line-height: 50px;
	}

	.heading-bar span {
		max-width: 100px;
    	padding: 5px;
	}

	.heading-bar-directions.powered {
		min-width: 70px;
	}

	.yelp-attribution {
    	margin-left: -5;
    	max-height: 20px;
    	padding-right: 5px;
	}

	.map-div {
		height: calc(100vh - 200px);
		top: 100px;
	}

	.heading-bar span:nth-child(odd) {
    	font-size: 0.7em;
    	line-height: 1.2em;
	}

	.sidebar {
		width: 100%;
	}

	.sidebar-toggle p {
		margin: 0 0 10px 0;
	}

	.toggle .location-list {
		max-height: calc(100vh - 200px);
		-webkit-transition: max-height 1s;
		-moz-transition: max-height 1s;
		transition: max-height 1s;
	}

	.location-list {
		max-height: 0;
	}

	.sidebar-toggle p:after {
		content: '\f067';
		line-height: 30px;
	}

	.toggle .sidebar-toggle p:after {
	    -webkit-transform: rotate(-135deg);
	    -moz-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	    -o-transform: rotate(-135deg);
	    transform: rotate(-135deg);
	    transform-origin: 50% 47%
	}

	.slider {
		display: none;
	}

	.infowindow-location-review {
		line-height: 1.3em;
	}

	.infowindow-location-name,
	.infowindow-location-address,
	.infowindow-location-rating
	.infowindow-location-link {
	    margin: 0;
	}

}