/*	Color palette from http://www.lolcolors.com/
	pale blue: #e1eef6
	orange: #ff5f2e
	yellow: #fcbe32
	teal: #004e66	*/
/************************************************
GLOBAL
************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Kalam', sans-serif;
}

/************************************************
sidebar
************************************************/

#sidebar {
	background-color: #05323e;
    max-height: 100vh;
    min-width: 320px;
    overflow: auto;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.sidebar-heading {
	display: flex;
    justify-content: flex-start;
	padding: 10px;
}

.sidebar-heading select {
	margin-right: 10px;
}

.button-filter {

}

.location-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.location-list-item {
	padding: 10px;
}

.location-list-item:nth-child(odd) {
	background-color: #e1eef6;
}

.location-list-item:nth-child(even) {
	background-color: #fff;
}

/************************************************
map
************************************************/

#map-div {
	height: 100vh;
	width: 100%;
}

.infowindow-location-name {
	color: #05323e;
	font-weight: 700;
	margin: 5px 0;
}

.infowindow-location-address {
    margin: 5px 0;
}

.infowindow-location-rating {
    display: block;
    margin: 5px 0;
}

.infowindow-location-link {
    background-color: #05323e;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    text-decoration: none;
}

.infowindow-location-link:hover {
	background-color: #ff5f2e;
}
