/*	Color palette from http://www.lolcolors.com/
	pale blue: #e1eef6
	orange: #ff5f2e
	yellow: #fcbe32
	teal: #004e66	*/
/************************************************
GLOBAL
************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Kalam', sans-serif;
}

/************************************************
sidebar
************************************************/

#heading-bar {
	text-align: center;
}

#heading-bar h1 {
	background-color: #ff5f2e;
	color: #fcbe32;
	margin: 0;
}

#heading-bar p {
	align-items: center;
	background-color: #e1eef6;
	display: flex;
	color: #000;
	font-weight: 700;
	justify-content: center;
	margin: 0;
}

#heading-bar span {
	padding: 10px;
}

#sidebar {
	background-color: #05323e;
    max-height: 100vh;
    width: 320px;
    overflow: auto;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.sidebar-heading {
	display: flex;
    justify-content: flex-start;
	padding: 10px;
}

.sidebar-heading select {
	border: 1px solid #fcbe32;
	border-radius: 4px;
	margin-right: 10px;
}

.button-filter {

}

.sidebar-toggle {
	cursor: pointer;
	display: inline-block;
}

.sidebar-toggle p {
	background-color: #ff5f2e;
    border: 1px solid #fcbe32;
    border-radius: 4px;
    color: #fcbe32;
    margin: 0 10px 10px 10px;
	padding: 0 15px;
}

.sidebar-toggle p:after {
	content: '\f067';
	display: inline-block;
	font-family: FontAwesome;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.toggle p:after {
	-webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.toggle ~ .location-list {
	max-height: 100vh;

}

.slider {
	cursor: move;
	display: inline-block;
}

.slider p {
	background-color: #ff5f2e;
    border: 1px solid #fcbe32;
    border-radius: 4px;
    color: #fcbe32;
    margin: 0 10px 10px 10px;
    padding: 0 15px;
}

.location-list {
	max-height: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}

.location-list-item {
	padding: 10px;
}

.location-list-item:nth-child(odd) {
	background-color: #e1eef6;
}

.location-list-item:nth-child(even) {
	background-color: #fff;
}

.location-list-item.itemSelected {
	background-color: #ff5f2e;
	color: #fcbe32;
	font-weight: 700;
}

.location-list-item-details {
	background-color: #fff;
	border: none;
    color: #000;
    font-weight: 400;
    list-style-type: none;
    margin: 0 -10px -10px -10px;
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

.location-list-item-details > a {
	background-color: #05323e;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 5px auto 10px auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.location-list-item-details > a:hover {
	background-color: #ff5f2e;
}

.itemSelected .location-list-item-details {
    max-height: 500px;
    border: 10px solid #ff5f2e;
}



/************************************************
Map
************************************************/

#map-div {
	height: 100vh;
	width: 100%;
}

.gm-style {
	font-family: 'Kalam', sans-serif;
}

.infowindow-location-name {
	color: #05323e;
	font-weight: 700;
	margin: 5px 0;
}

.infowindow-location-address {
    margin: 5px 0;
}

.infowindow-location-rating {
    display: block;
    margin: 5px 0;
}

.infowindow-location-link {
    background-color: #05323e;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.infowindow-location-link:hover {
	background-color: #ff5f2e;
}

/************************************************
Media Queries
************************************************/
 /* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.location-list {
		max-height: 100vh;
	}

	.toggle ~ .location-list {
		max-height: 0;
		-webkit-transition: max-height 1s;
		-moz-transition: max-height 1s;
		transition: max-height 1s;
	}

	.sidebar-toggle p:after {
		content: '\f00d';
	}

	.slider {
		display: none;
	}
}
